<% content_for :page_title do %>
  <%= @event.kommunity.name %> | <%= @event.name %> | <%= @data_form_entity.entity.name %> | Form
<% end %>
<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag    'readmore', media: 'all' %>
<% end %>
<section id="fill-form">
  <% if @data_form_entity.can_fill_event_form(current_user) %>
    <div class="row">
      <div class="d-flex flex-column justify-content-center col-12">
        <div class=" d-flex flex-column position-relative">
          <div class="event   event-preview-header">
            <div class="card-body p-0 bg-white pt-2">
              <h2 class="text-center text-info">
                <%= @data_form_entity.entity.name %>
              </h2>
              <%= render 'events/event_show_header', event: @event %>
            </div>
          </div>
          <div>
            <div class="">
              <%= render 'events/event_description', event: @event, new_event_update: @new_event_update %>
            </div>
          </div>
          <div class="">
            <% if @data_form_entity.entity.registration_type?([NameValues::RegistrationsType::FEEDBACK]) %>
              <div class="card-text mt-3 text-center">
                <h5>¡Fue genial tenerte en el evento!</h5>
                <p>¡Sería genial saber cómo estuvo tu día!</p>
              </div>
            <% end %>
            <% if !@existing_response.blank? %>
              <div class="alert alert-info text-center" role="alert">
                Ya has rellenado el formulario, ¡no dudes en actualizar tu respuesta!
              </div>
            <% end %>
            <div id="fillable-form" class="card col-md-10 offset-md-1">
              <div class="card-body">
                <%= form_with scope: :data_form_entity_response, url: submit_form_response_path(data_form_entity_id: @data_form_entity, for_other_user: @for_other_user, ots: @ots) do |f| %>
                  <% if user_signed_in? &&  current_user.role?(:organizer, @kommunity.id) && @for_other_user %>
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title mb-4">Añadir info del usuario</h3>
                        <div class="form-group">
                          <%= f.label :user_email, "Email", class: "font-weight-bold" %>
                          <%= f.text_field :user_email, 
                       class: "form-control",
                       placeholder: "Añade su dirección de correo electrónico", 
                       required: true %>
                        </div>
                        <div class="form-group">
                          <%= f.label :user_name, "Nombre", class: "font-weight-bold" %>
                          <%= f.text_field :user_name, 
                       class: "form-control",
                       placeholder: "Añade su nombre completo", 
                       required: true %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% if user_signed_in? && !@for_other_user %>
                    <h5> Un poco sobre vos! </h5>
                    <div class="form-group profile-image-input text-center">
                      <div class="existing-profile-image">
                        <img id="user-profile-image" alt="Añade una foto" src="<%= url_for(current_user.avatar) %>">
                      </div>
                      <%= f.label :profile_image, 'Tu foto de perfil', for: 'profile-image', class: 'custom-file-label' %>
                      <%= f.file_field :profile_image, class: 'custom-file-input', id: 'profile-image', onchange: 'showImage(this, "user-profile-image");', accept: "image/*" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :designation, "¿Cómo te conoce el mundo? (Si eres un profesional o diriges una comunidad o...) [Si eres un orador, esto será visible en tu tarjeta de perfil]" %>
                      <%= f.text_field :designation, placeholder: "Por ejemplo fundador de SpaceX, CEO de Meta", value: current_user.designation, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :about_me, "Contanos un poco de vos con tus palabras" %>
                      <%= f.text_area :about_me, placeholder: "Yo soy un master en tal cosa...", value: current_user.about_me, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :linkedin_profile, 'Perfil de Linkedin (Por favor, proporcione el enlace completo)' %>
                      <%= f.text_field :linkedin_profile, placeholder: "Perfil de Linkendin", value: current_user.linkedin, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :personal_website, 'Tenes una web sobre vos? No redes sociales' %>
                      <%= f.text_field :personal_website, placeholder: "Añade aqui el link", value: current_user.personal_website, class: 'form-control'%>
                    </div>
                    <div class="form-group">
                      <%= f.label :twitter_profile, 'Tenes twitter? o actualmente llamado X' %>
                      <%= f.text_field :twitter_profile, placeholder: "@tuarroba", value: current_user.twitter, class: 'form-control'%>
                    </div>
                  <% end %>
                  <br>
                  <h5>Algunas preguntas más..</h5>
                  <ul class="list-group">
                    <% @data_form_entity.data_form.questions.each.with_index(1) do |question, index| %>
                      <li class="list-group-item">
                        <div class="form-group">
                          <h5><%= question.title %><%if question.required%><strong class="text-info">*</strong><% end %></h5>
                          <% if !question.description.blank? %>
                            <p>
                              <small>
                                <%= simple_format(question.description) %>
                              </small>
                            </p>
                          <% end %>
                          <% case question.question_type.name %>
                          <% when "short_answer" %>
                          <div>
                            <%= f.text_field question.id, placeholder: "Respuesta corta" , required: question.required, value: @existing_response[question.id], class: "form-control" %>
                          </div>
                          <% when "long_answer" %>
                          <div>
                            <%= f.text_area question.id, placeholder: "Respuesta larga", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                          </div>
                          <% when "number" %>
                          <div>
                            <%= f.number_field question.id, placeholder: "Sólo números", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                          </div>
                          <% when "single_choice" %>
                          <div>
                            <% question.question_choices.order('created_at asc').each do |choice| %>
                              <div class="d-flex flex-row justify-content-start">
                                <%= f.radio_button question.id, choice.id, id: "radio-#{choice.id}", required: question.required, checked: (@existing_response[question.id] == choice.id), class: 'mt-2'  %>
                                <%=  f.label choice.id, choice.title, for: "radio-#{choice.id}", class: 'pl-2 mt-1' %>
                              </div>
                            <% end %>
                          </div>
                          <% when "multiple_choice" %>
                          <div class="d-flex flex-column">
                            <%= f.collection_check_boxes question.id, question.question_choices.all, :id, :title, required: question.required, checked: (@existing_response[question.id].blank? ? false : @existing_response[question.id].map(&:to_param)), class: "form-control"  %>
                          </div>
                        <% end %>
                      </div>
                    </li>
                    <hr>
                  <% end %>
                </ul>
                <% if @data_form_entity.entity.registration_type?([NameValues::RegistrationsType::SPEAKER, NameValues::RegistrationsType::ATTENDEE]) %>
                  <div>
                    <%= render 'data_form_entity_responses/user_event_location_grid', f: f, event: @event, event_locations: @event.event_locations %>
                  </div>
                <% end %>
                <%= f.submit 'Guardar', class: 'btn btn-outline-info' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div>
    <h2 class=" text-center">
      <% if @data_form_entity.members_who_have_attended? %>
        Shh... This is hidden!
      <%else%>
        This form's closed, unless the organizers say!
      <%end%>
    </h2>
  </div>
<% end %>
<% content_for :page_scripts do %>
  <% if !user_signed_in? %>
    <script>
      window.onload = function() {
      
          $('#force-sign-in-modal').modal({
              backdrop: 'static',
              keyboard: false
          }).modal('show');
      
      }
    </script>
  <% end %>
  <%= javascript_include_tag 'readmore' %>
<% end %>
</section>
