<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <title><%= yield :page_title %></title>

  <!-- Favicon -->
  <%= favicon_link_tag asset_path('/images/gdgnd.png'), :rel => 'icon', :type =>  'image/png' %>

  <!-- CSS -->
  <!-- Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- Tempus Dominus -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
  <!-- Noty -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

  <!-- Application CSS -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :page_stylesheets %>

  <!-- JavaScript -->
  <%= javascript_include_tag 'application' %>
  <!-- Bootstrap 5 Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Other Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
</head>

<body>
<!-- Navbar desde el archivo parcial -->
<%= render 'shared/navbar' %>

<!-- Contenido Principal -->
<div id="body-main-container" class="container-fluid">
  <main>
    <%= yield %>
  </main>
</div>

<!-- Modales -->
<%= render 'shared/modals' %>

<!-- Footer -->
<footer class="mt-5 footer bg-white shadow">
  <div class="text-center">
    <p class="mb-0 text-muted">Hecho a regañadientes en <strong>Alquimia Digital</strong></p>
  </div>
</footer>

<%= yield :page_scripts %>
</body>
</html>